@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600;700&family=Merriweather:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 18% 16%;
    --foreground: 200 20% 85%;

    --card: 210 16% 20%;
    --card-foreground: 200 20% 85%;

    --popover: 210 16% 20%;
    --popover-foreground: 200 20% 85%;

    --primary: 200 35% 70%;
    --primary-foreground: 210 18% 16%;

    --secondary: 210 14% 26%;
    --secondary-foreground: 200 20% 85%;

    --muted: 210 14% 24%;
    --muted-foreground: 200 15% 62%;

    --accent: 40 70% 58%;
    --accent-foreground: 210 18% 16%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 14% 30%;
    --input: 210 14% 30%;
    --ring: 200 35% 70%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 203 45% 15%;
    --foreground: 37 30% 96%;

    --card: 203 45% 18%;
    --card-foreground: 37 30% 96%;

    --popover: 203 45% 18%;
    --popover-foreground: 37 30% 96%;

    --primary: 37 30% 96%;
    --primary-foreground: 203 45% 20%;

    --secondary: 203 35% 25%;
    --secondary-foreground: 37 30% 96%;

    --muted: 203 35% 25%;
    --muted-foreground: 37 15% 65%;

    --accent: 40 60% 60%;
    --accent-foreground: 203 45% 20%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 203 30% 30%;
    --input: 203 30% 30%;
    --ring: 40 60% 60%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
